<!DOCTYPE html>
<html style="background-color:#B0C4DE;">
	<head></head>
	<body align="center">
		<!--<h1 align="center"><i>test</h1> -->
		<form method="POST" action="../logics/registrationCheck.php">
			<center>
				<table border="0" width=350px height=300px style="background-color:#F5F5F5;">
				
					<tr>
					<td rowspan="2">
						<img src="picture/i1.jpg" width=200px height=350px>
						</td>
					<td ><h2 align=center style="color:darkorange">Registartion Form</h2></tr></td>
					<tr>
						<td>
						<center>
						<br><br>
						<input type="text" name="name" value="" placeholder="Full Name" size="30" ><br><br>
						
						<input type="Email" name="email" value="" placeholder="Email" size="30"  ><br><br>
						
						<input type="text" name="userName" value="" placeholder="Username" size="30" ><br><br>
						
						<input type="password" name="password" value="" placeholder="Password" size="30"><br><br>
						
						<input type="password" name="comPassword" value="" placeholder="Confirm Password" size="30"  ><br><br>
												
						<input type="Submit" name="submit" value="Register" width="30%" style="background-color:limegreen;">
						or <a href="Login.html">I have account?</a>
						
						</center>
						</td>
					</tr>
				</table>
			</center>
		</form>
	</body>
</html>